/* reset */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
  font-weight: normal;
}
html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}
i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}
[hidefocus],
summary {
  outline: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
}
sup,
sub {
  font-size: 83%;
}
pre,
code,
kbd,
samp {
  font-family: inherit;
}
q:before,
q:after {
  content: none;
}
textarea {
  overflow: auto;
  resize: none;
}
label,
summary {
  cursor: default;
}
a,
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: bold;
}
del,
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}
body,
textarea,
input,
button,
select,
keygen,
legend {
  font: 12px/1.14 arial, "Microsoft YaHei";
  color: #333;
  outline: 0;
}
body {
  background: #fff;
}
a,
a:hover {
  color: #333;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Microsoft YaHei", "微软雅黑", Tahoma, Helvetica;
}
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}
.wjs-container {
  position: relative;
  width: 100%;
}
.wjs-main {
  width: 100%;
  position: relative;
}
.wjs-topnav {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #c6cbcf;
}
.wjs-topnav .container {
  width: 980px;
  margin: 0 auto;
  overflow: hidden;
}
.wjs-topnav .container li {
  float: left;
  text-align: center;
  line-height: 40px;
  color: #8d8d8d;
  border-left: 1px solid #c6cbcf;
}
.wjs-topnav .container a {
  color: #8d8d8d;
}
.wjs-topnav .container .qrcode {
  width: 228px;
  border: none;
}
.wjs-topnav .container .service {
  width: 325px;
}
.wjs-topnav .container .extra {
  width: 180px;
}
.wjs-topnav .container .join {
  width: 242px;
}
.wjs-topnav .container .join a {
  font-size: 14px;
}
.wjs-topnav .container .join a:first-child {
  color: #fff;
  padding: 5px 6px;
  background: #e61e25;
  border-radius: 3px;
  margin-right: 10px;
}
.wjs-nav {
  width: 100%;
  height: 64px;
  overflow: hidden;
  border-bottom: 1px solid #c6cbcf;
}
.wjs-nav .container {
  width: 980px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.wjs-nav li {
  position: relative;
  height: 100%;
  font-size: 16px;
  float: left;
  line-height: 64px;
}
.wjs-nav li:first-child {
  width: 145px;
  padding: 0;
  margin-right: 30px;
}
.wjs-nav li:first-child img {
  width: 100%;
  vertical-align: middle;
}
.wjs-nav li:last-child {
  float: right;
  margin-right: 50px;
}
.wjs-nav li a {
  display: block;
  padding: 0 15px;
  color: #878787;
}
.wjs-nav li b {
  width: 0%;
  height: 2px;
  background-color: #e61e25;
  position: absolute;
  bottom: 0;
  left: 50%;
  opacity: 0;
  transform: translate(-50%);
}
.wjs-nav li:hover b {
  opacity: 1;
  width: 100%;
  transition: all 0.5s;
}
.wjs-carousel {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.wjs-carousel .swipe-wrap {
  overflow: hidden;
  position: relative;
}
.wjs-carousel .swipe-wrap li {
  float: left;
  width: 100%;
  position: relative;
}
.wjs-carousel .swipe-wrap a {
  display: block;
  width: 100%;
}
.wjs-carousel .swipe-wrap img {
  width: 100%;
  height: 270px;
  vertical-align: middle;
}
.wjs-info {
  width: 100%;
  padding: 24px 0;
  border-bottom: 1px solid #c6cbcf;
}
.wjs-info .container {
  max-width: 1170px;
  margin: 0 auto;
  overflow: hidden;
}
.wjs-info dl {
  float: left;
  width: 33.33333%;
  padding: 0 15px;
}
.wjs-info dl dt {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1;
}
.wjs-info dl dd {
  font-size: 15px;
  color: #666;
  margin-bottom: 10px;
}
.wjs-info dl dd span {
  font-size: 12px;
  font-family: cursive;
  margin-right: 5px;
}
.wjs-notify {
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid #c6cbcf;
}
.wjs-notify .container {
  max-width: 1170px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.wjs-notify li {
  font-size: 14px;
  line-height: 38px;
}
.wjs-notify li span {
  color: #efb513;
}
.wjs-notify li .blue {
  color: #428bca;
  margin: 0 20px;
}
.wjs-notify li .orange {
  color: #efb513;
  border-bottom: 1px dashed #efb513;
}
.wjs-notify li:last-child {
  position: absolute;
  right: 100px;
  top: 50%;
  margin: -19px;
}
.wjs-notify li:last-child a {
  display: block;
  width: 123px;
}
.wjs-notify li:last-child img {
  width: 100%;
  vertical-align: middle;
}
.wjs-loan {
  width: 100%;
  padding: 20px 0;
  background-image: url('../images/box-style-bg.png');
}
.wjs-loan .container {
  max-width: 1170px;
  margin: 0 auto;
}
.wjs-loan .loan-wrap {
  width: 100%;
  overflow: auto;
  border-bottom: 1px solid #c6cbcf;
}
.wjs-loan .loan-wrap .tabs {
  min-width: 570px;
  height: 50px;
  line-height: 38px;
  padding-left: 15px;
}
.wjs-loan .loan-wrap .tabs li {
  float: left;
  padding: 7px 18px;
  position: relative;
}
.wjs-loan .loan-wrap .tabs li a {
  display: block;
  line-height: 38px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.wjs-loan .loan-wrap .tabs .active b {
  width: 100%;
  height: 2px;
  background-color: #e61e25;
  position: absolute;
  bottom: 0;
  left: 0;
}
.wjs-loan .loan-wrap-info {
  width: 100%;
  height: 40px;
  background-color: #fff;
  margin-top: 15px;
  position: relative;
  box-shadow: 0px 2px 2px #d8d8d8;
  border-radius: 3px;
}
.wjs-loan .loan-wrap-info:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 56px;
  top: -8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
}
.wjs-loan .loan-wrap-info p {
  font-size: 14px;
  padding-left: 20px;
  line-height: 40px;
}
.wjs-loan .items {
  width: 100%;
  padding-top: 20px;
  text-align: justify;
}
.wjs-loan .items:after {
  content: '';
  display: inline-block;
  width: 100%;
  overflow: hidden;
}
.wjs-loan .items .blank {
  display: inline-block;
  width: 31.5%;
}
.wjs-loan .items .item_first {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  color: #fff;
  width: 31.5%;
  height: 148px;
  margin-bottom: 20px;
  border-radius: 3px;
  padding: 10px 110px 10px 0;
  box-shadow: 0px 2px 2px #d8d8d8;
  background-color: #e61e25;
}
.wjs-loan .items .item_first img {
  width: 28px;
  height: 26px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.wjs-loan .items .item_first .item-left {
  width: 100%;
  height: 100%;
  padding: 0 15px;
}
.wjs-loan .items .item_first .item-left .l {
  float: left;
}
.wjs-loan .items .item_first .item-left .r {
  float: right;
}
.wjs-loan .items .item_first .item-left dt {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 15px;
}
.wjs-loan .items .item_first .item-left dd {
  width: 100%;
  overflow: hidden;
  margin: 8px 0;
}
.wjs-loan .items .item_first .item-left dd:nth-child(even) {
  font-size: 12px;
  opacity: 0.5;
}
.wjs-loan .items .item_first .item-left dd:nth-child(odd) {
  font-size: 18px;
}
.wjs-loan .items .item_first .item-right {
  width: 110px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-left: 1px dashed #d5d5d5;
}
.wjs-loan .items .item_first .item-right:before {
  content: '';
  position: absolute;
  left: -8px;
  top: -8px;
  width: 16px;
  height: 16px;
  background-color: #f0f0f0;
  border-radius: 50%;
}
.wjs-loan .items .item_first .item-right:after {
  content: '';
  position: absolute;
  left: -8px;
  bottom: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #f0f0f0;
  box-shadow: 0 2px 2px #d8d8d8 inset;
}
.wjs-loan .items .item_first .item-right li {
  text-align: center;
}
.wjs-loan .items .item_first .item-right .bfb {
  margin: 50px 0 10px 0;
}
.wjs-loan .items .item_first .item-right .bfb span:first-child {
  font-size: 30px;
  font-weight: bold;
}
.wjs-loan .items .item_first .item-right .bfb span:last-child {
  font-size: 15px;
  font-weight: bold;
}
.wjs-loan .items .item_first .item-right .nll_2 {
  font-size: 12px;
}
.wjs-loan .items .item {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 31.5%;
  height: 148px;
  margin-bottom: 20px;
  padding: 10px 110px 10px 0;
  border-radius: 3px;
  box-shadow: 0px 2px 2px #d8d8d8;
  background-color: #fff;
}
.wjs-loan .items .item .item-left {
  width: 100%;
  height: 100%;
  padding: 0 15px;
}
.wjs-loan .items .item .item-left .l {
  float: left;
}
.wjs-loan .items .item .item-left .r {
  float: right;
}
.wjs-loan .items .item .item-left dt {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 15px;
}
.wjs-loan .items .item .item-left dd {
  width: 100%;
  overflow: hidden;
  margin: 8px 0;
}
.wjs-loan .items .item .item-left dd:nth-child(even) {
  font-size: 12px;
  color: #999;
}
.wjs-loan .items .item .item-left dd:nth-child(odd) {
  font-size: 18px;
  color: #333;
}
.wjs-loan .items .item .item-right {
  width: 110px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-left: 1px dashed #ccc;
}
.wjs-loan .items .item .item-right:before {
  content: '';
  position: absolute;
  left: -8px;
  top: -8px;
  width: 16px;
  height: 16px;
  background-color: #f0f0f0;
  border-radius: 50%;
}
.wjs-loan .items .item .item-right:after {
  content: '';
  position: absolute;
  left: -8px;
  bottom: -8px;
  width: 16px;
  height: 16px;
  background-color: #f0f0f0;
  border-radius: 50%;
  box-shadow: 0 2px 2px #d8d8d8 inset;
}
.wjs-loan .items .item .item-right li {
  text-align: center;
}
.wjs-loan .items .item .item-right .eb {
  margin: 20px 0;
}
.wjs-loan .items .item .item-right .eb span {
  display: inline-block;
  width: 16px;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  border: 1px solid;
}
.wjs-loan .items .item .item-right .eb span.e {
  border-color: #399;
  color: #399;
}
.wjs-loan .items .item .item-right .eb span.b {
  border-color: #f56854;
  color: #f56854;
}
.wjs-loan .items .item .item-right .bfb {
  margin-bottom: 10px;
}
.wjs-loan .items .item .item-right .bfb span:first-child {
  font-size: 30px;
  color: #e61e25;
  font-weight: bold;
}
.wjs-loan .items .item .item-right .bfb span:last-child {
  font-size: 15px;
  color: #e61e25;
  font-weight: bold;
}
.wjs-loan .items .item .item-right .nll_1 {
  font-size: 14px;
  color: #721786;
  font-weight: bold;
  margin-bottom: 5px;
}
.wjs-loan .items .item .item-right .nll_2 {
  font-size: 12px;
  color: #999;
}
.wjs-loan .items .item_last {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 31.5%;
  height: 148px;
  margin-bottom: 20px;
  border-radius: 3px;
  padding: 10px 110px 10px 0;
  box-shadow: 0px 2px 2px #d8d8d8;
  background-color: #E6E6E6;
}
.wjs-loan .items .item_last:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../images/loan-status-5.png) center no-repeat;
  background-size: auto 72%;
}
.wjs-loan .items .item_last .item-left {
  width: 100%;
  height: 100%;
  padding: 0 15px;
}
.wjs-loan .items .item_last .item-left .l {
  float: left;
}
.wjs-loan .items .item_last .item-left .r {
  float: right;
}
.wjs-loan .items .item_last .item-left dt {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 15px;
}
.wjs-loan .items .item_last .item-left dd {
  width: 100%;
  overflow: hidden;
  margin: 8px 0;
}
.wjs-loan .items .item_last .item-left dd:nth-child(even) {
  font-size: 12px;
  color: #999;
}
.wjs-loan .items .item_last .item-left dd:nth-child(odd) {
  font-size: 18px;
  color: #333;
}
.wjs-loan .items .item_last .item-right {
  width: 110px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-left: 1px dashed #ccc;
}
.wjs-loan .items .item_last .item-right:before {
  content: '';
  position: absolute;
  left: -8px;
  top: -8px;
  width: 16px;
  height: 16px;
  background-color: #f0f0f0;
  border-radius: 50%;
}
.wjs-loan .items .item_last .item-right:after {
  content: '';
  position: absolute;
  left: -8px;
  bottom: -8px;
  width: 16px;
  height: 16px;
  background-color: #f0f0f0;
  border-radius: 50%;
  box-shadow: 0 2px 2px #d8d8d8 inset;
}
.wjs-loan .items .item_last .item-right li {
  text-align: center;
}
.wjs-loan .items .item_last .item-right .eb {
  margin: 20px 0;
}
.wjs-loan .items .item_last .item-right .eb span {
  display: inline-block;
  width: 16px;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  border: 1px solid;
}
.wjs-loan .items .item_last .item-right .eb span.e {
  border-color: #399;
  color: #399;
}
.wjs-loan .items .item_last .item-right .eb span.b {
  border-color: #f56854;
  color: #f56854;
}
.wjs-loan .items .item_last .item-right .bfb {
  margin-bottom: 10px;
}
.wjs-loan .items .item_last .item-right .bfb span:first-child {
  font-size: 30px;
  color: #e61e25;
  font-weight: bold;
}
.wjs-loan .items .item_last .item-right .bfb span:last-child {
  font-size: 15px;
  color: #e61e25;
  font-weight: bold;
}
.wjs-loan .items .item_last .item-right .nll_1 {
  font-size: 14px;
  color: #721786;
  font-weight: bold;
  margin-bottom: 5px;
}
.wjs-loan .items .item_last .item-right .nll_2 {
  font-size: 12px;
  color: #999;
}
.wjs-news {
  width: 1170px;
  margin: 0 auto;
  padding: 30px 0 0;
  overflow: hidden;
}
.wjs-news .title {
  width: 100px;
  float: left;
  padding: 0 0 10px 15px;
  margin-left: 110px;
  border-bottom: 1px solid #ccc;
  position: relative;
  line-height: 1;
}
.wjs-news .title h6 {
  font-size: 16px;
  font-weight: normal;
  color: #333;
}
.wjs-news .title i {
  position: absolute;
  right: -7px;
  bottom: -4px;
  width: 8px;
  height: 8px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.wjs-news .round {
  float: left;
  position: relative;
  margin-left: 50px;
}
.wjs-news .round li:nth-child(-n+4) {
  display: block;
  width: 55px;
  height: 55px;
  margin-bottom: 35px;
  background-color: #d0d0d0;
  border-radius: 55px;
  position: relative;
  z-index: 10;
}
.wjs-news .round li:nth-child(-n+4):hover {
  background-color: #e61e25;
}
.wjs-news .round li:nth-child(4) {
  margin-bottom: 0;
}
.wjs-news .round li:first-child {
  background-color: #e61e25;
}
.wjs-news .round li:last-child {
  position: absolute;
  top: 0;
  left: 27px;
  height: 100%;
  border-left: 1px dashed #CCC;
}
.wjs-news .info {
  float: left;
  margin-left: 50px;
}
.wjs-news .info li {
  padding: 15px 0;
}
.wjs-news .info a {
  color: #444;
  font-size: 14px;
}
.wjs-footer {
  width: 100%;
  border-top: 1px solid #ccc;
  margin-top: 30px;
}
.wjs-footer .footer-nav {
  width: 100%;
  height: 48px;
  font-size: 14px;
  text-align: center;
}
.wjs-footer .footer-nav a:nth-child(-n+10) {
  margin: 0 5px;
  color: #666;
  font-size: 14px;
  display: inline-block;
  line-height: 48px;
}
.footer {
  width: 100%;
  height: 135px;
  background-color: #333;
  text-align: center;
}
.footer p {
  padding-top: 20px;
  color: #fff;
}
.footer a {
  width: auto;
  height: 42px;
  display: inline-block;
  margin: 25px 20px 20px 0;
}
.footer img {
  width: auto;
  height: 42px;
}
